html,
body {
  border: 0px;
  margin: auto;
  height: 100%;
  background-color: black;
  width: 100%;
}

#canvas {
     /* border: 1px solid #4AA230;*/
      display: flex;
      margin: auto;
      background-color: #266FF6;*/
  }

.frog {
  display: none;
  height: 10%;
}